{{template "base/head" .}}

<script src="{{AppSubURL}}/js/base64.js"></script>
<script src="{{AppSubURL}}/js/webauthn_golang.js"></script>

<div class="user settings avatar">
	<div class="ui container">
		<div class="ui grid">
			{{template "user/settings/navbar" .}}
			<div class="twelve wide column content">
				{{template "base/alert" .}}
				<h4 class="ui top attached header">
					{{.i18n.Tr "settings.avatar"}}
				</h4>

                                <script langauge="javascript">
                                  async function change_avatar_listener_fn(e) {
                                       e.preventDefault();

                                       let options;
                                       try {
                                            options = await attestationBegin_FormField('#change_avatar_form', 'webauthn_options');
                                            attestationFinish_URL(options, "{{$.Link}}", '#change_avatar_form');
                                       } catch (err) {
                                            alert("Error authenticating: " + err);
                                            window.location.reload(false);
                                            return;
                                       }
                                  }

                                  document.addEventListener("DOMContentLoaded", e => {
                                       document.querySelector('#change_avatar_submit').addEventListener('click', change_avatar_listener_fn);
                                  });
                                </script>

				<div class="ui attached segment">
					<form id="change_avatar_form" class="ui form" action="{{.Link}}" method="post" enctype="multipart/form-data">
						{{.CSRFTokenHTML}}
				                <input type="hidden" name="webauthn_options" value="{{.WebauthnChangeAvatarOptions}}">

						{{if not DisableGravatar}}
						<div class="inline field">
							<div class="ui radio checkbox">
								<input name="source" value="lookup" type="radio" {{if not .LoggedUser.UseCustomAvatar}}checked{{end}}>
								<label>{{.i18n.Tr "settings.lookup_avatar_by_mail"}}</label>
							</div>
						</div>
						<div class="inline box field {{if .Err_Gravatar}}error{{end}}">
							<label for="gravatar">Avatar {{.i18n.Tr "email"}}</label>
							<input id="gravatar" name="gravatar" value="{{.LoggedUser.AvatarEmail}}" />
						</div>
						{{end}}

						<div class="inline field">
							<div class="ui radio checkbox">
								<input name="source" value="local" type="radio" {{if .LoggedUser.UseCustomAvatar}}checked{{end}}>
								<label>{{.i18n.Tr "settings.enable_custom_avatar"}}</label>
							</div>
						</div>

						<div class="inline box field">
							<label for="avatar">{{.i18n.Tr "settings.choose_new_avatar"}}</label>
							<input name="avatar" type="file" >
						</div>

						<div class="field">
							<button id="change_avatar_submit" class="ui green button">{{$.i18n.Tr "settings.update_avatar"}}</button>
							<a class="ui red button delete-post" data-request-url="{{.Link}}/delete" data-done-url="{{.Link}}">{{$.i18n.Tr "settings.delete_current_avatar"}}</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
