{{template "base/head" .}}

<script src="{{AppSubURL}}/js/webauthn_golang_js/base64.js"></script>
<script src="{{AppSubURL}}/js/webauthn_golang_js/webauthn_golang.js"></script>

<script langauge="javascript">
  async function leave_repo_listener_fn(e) {
       e.preventDefault();

       // Place the repo ID to be left into the form
       $('#repo_form').append('<input type="hidden" name="id" value="{0}" />'.format(this.repoID));

       // Search for the `repo` with the ID `repoID`
       var repos = {{.Repos}};
       var repo = null;
       for (var i = 0; i < repos.length; i++) {
            if (repos[i]["ID"] == this.repoID) {
                 repo = repos[i];
                 break;
            }
       }

       // The `repo` was not found, this is an error
       if (repo == null) {
            console.error("Repo not found: ID {0}".format(this.repoID));
            return;
       }

       // Generate the authentication text and place it into the form
       var auth_text = "Leave repository named: {0}".format(repo["Name"]);
       $('#repo_form').append('<input type="hidden" name="auth_text" value="{0}" />'.format(auth_text));

       let options;
       try {
            options = await retrieveWebauthnOptions_URL('#repo_form', 'https://localhost:8081/webauthn/begin_attestation');
            attestationFinish_URL(options, "{{$.Link}}/leave", '#repo_form');
       } catch (err) {
            alert("Error authenticating: " + err);
            window.location.reload(false);
            return;
       }
  }

  document.addEventListener("DOMContentLoaded", e => {
       document.querySelector('#repo_form').addEventListener('submit', leave_repo_listener_fn);
  });
</script>

<div class="user settings repositories">
	<div class="ui container">
		<div class="ui grid">
			{{template "user/settings/navbar" .}}
			<div class="twelve wide column content">
				{{template "base/alert" .}}
				<h4 class="ui top attached header">
					{{.i18n.Tr "settings.repos"}}
				</h4>

				<div class="ui attached segment repos">
					<div class="ui middle aligned divided list">
                                                <form id="repo_form" class="ui form" action="{{$.Link}}/leave">
						{{.CSRFTokenHTML}}
						{{range .Repos}}
							<div class="item">
								<span class="text light grey">
									{{if .IsPrivate}}
										<span class="text gold"><i class="octicon octicon-lock"></i></span>
									{{else if .IsFork}}
										<i class="octicon octicon-repo-forked"></i>
									{{else if .IsMirror}}
										<i class="octicon octicon-repo-clone"></i>
									{{else}}
										<i class="octicon octicon-repo"></i>
									{{end}}
								</span>
								<a href="{{AppSubURL}}/{{.Owner.Name}}/{{.Name}}">
									{{.Owner.Name}}/{{.Name}}
								</a> 
								<span class="ui text light grey">{{.Size | FileSize}}</span>
								{{if not (eq .OwnerID $.LoggedUserID)}}
								<div class="right floated">
									<button class="ui red tiny basic button" onclick="this.form.repoID={{.ID}};" type="submit">
                                                                          {{$.i18n.Tr "settings.repos.leave"}}
                                                                        </button>
								</div>
								{{end}}
							</div>
						{{end}}
                                                </form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="ui small basic delete modal">
	<div class="ui icon header">
		{{.i18n.Tr "settings.repos.leave_title"}}
	</div>
	<div class="content">
		<p>{{.i18n.Tr "settings.repos.leave_desc"}}</p>
	</div>
	{{template "base/delete_modal_actions" .}}
</div>
{{template "base/footer" .}}
