{{template "base/head" .}}

<script src="{{AppSubURL}}/js/webauthn_golang_js/base64.js"></script>
<script src="{{AppSubURL}}/js/webauthn_golang_js/webauthn_golang.js"></script>

<script langauge="javascript">
  async function enable_webauthn_listener_fn(e) {
       e.preventDefault();
  
       let options;
       try {
            options = await retrieveWebauthnOptions_URL('#enable_webauthn_form', 'https://localhost:8081/webauthn/begin_register');
            registrationFinish_URL(options, "https://localhost:8081/webauthn/finish_register", '#enable_webauthn_form');
       } catch (err) {
            alert("Error authenticating: " + err);
            window.location.reload(false);
            return;
       }
  }

  async function delete_webauthn_listener_fn(e) {
       e.preventDefault();
  
       // Generate the authentication text and place it into the form
       var input = document.createElement("input");
       input.type = "hidden";
       input.name = "auth_text";
       input.value = "Confirm disable webauthn for {0}".format({{ .Username }});

       document.getElementById('delete_webauthn_form').appendChild(input);

       let options;
       try {
            options = await retrieveWebauthnOptions_URL('#delete_webauthn_form', 'https://localhost:8081/webauthn/begin_attestation');
            attestationFinish_URL(options, "https://localhost:8081/webauthn/disable", '#delete_webauthn_form');
       } catch (err) {
            alert("Error authenticating: " + err);
            window.location.reload(false);
            return;
       }
  }

  document.addEventListener("DOMContentLoaded", e => {
  // Attach the appropriate listener function depending on whether the user has webauthn enabled or not
  {{if .Webauthn}}
       document.querySelector('#delete_webauthn_submit').addEventListener('click', delete_webauthn_listener_fn);
  {{else}}
       document.querySelector('#enable_webauthn_submit').addEventListener('click', enable_webauthn_listener_fn);
  {{end}}
  });
</script>

<div class="user settings security">
	<div class="ui container">
		<div class="ui grid">
			{{template "user/settings/navbar" .}}
			<div class="twelve wide column content">
				{{template "base/alert" .}}
				<h4 class="ui top attached header">
					{{.i18n.Tr "settings.two_factor"}}
				</h4>
				<div class="ui attached segment two-factor">
					<p class="text bold">
						{{.i18n.Tr "settings.two_factor_status"}}
						{{if .TwoFactor}}
							<span class="text green">{{.i18n.Tr "settings.two_factor_on"}} <i class="octicon octicon-check"></i></span>
							<button class="ui right mini red toggle button delete-button" data-url="{{$.Link}}/two_factor_disable">{{.i18n.Tr "settings.two_factor_disable"}}</button>
						{{else}}
							<span class="text red">{{.i18n.Tr "settings.two_factor_off"}} <i class="octicon octicon-x"></i></span>
							<a class="ui right mini green toggle button" href="{{AppSubURL}}/user/settings/security/two_factor_enable">{{.i18n.Tr "settings.two_factor_enable"}}</a>
						{{end}}
					</p>
				</div>
				{{if .TwoFactor}}
					<br>
					<p>{{.i18n.Tr "settings.two_factor_view_recovery_codes" AppSubURL "/user/settings/security/two_factor_recovery_codes" | Safe}}</p>
					<p>{{.i18n.Tr "settings.two_factor_http" AppSubURL "/user/settings/applications" "https://{token}@try.gogs.io/user/repo.git" | Safe}}</p>
				{{end}}

				<h4 class="ui top attached header">
                                  {{.i18n.Tr "settings.webauthn_two_factor"}}
				</h4>
				  <div class="ui attached segment two-factor">
				    <p class="text bold">
				      {{.i18n.Tr "settings.two_factor_status"}}
				      {{if .Webauthn}}
				        <span class="text green">{{.i18n.Tr "settings.two_factor_on"}} <i class="octicon octicon-check"></i></span>
                                        <button class="ui right mini red toggle show-modal button" data-modal="#delete-webauthn-modal">{{.i18n.Tr "settings.two_factor_disable"}}</button>

			              {{else}}
	                                <form id="enable_webauthn_form">
	                                  {{.CSRFTokenHTML}}
                                          <input type="hidden" name="username" value="{{ .Username }}">
                                          <input type="hidden" name="userID" value="{{ .UserID }}">
					  <span class="text red">{{.i18n.Tr "settings.two_factor_off"}} <i class="octicon octicon-x"></i></span>
					  <a id="enable_webauthn_submit" class="ui right mini green toggle button">{{.i18n.Tr "settings.two_factor_enable"}}</a>
                                        </form>
				      {{end}}
				    </p>
				  </div>

			</div>
		</div>
	</div>
</div>

<div class="ui small basic delete modal">
	<div class="ui icon header">
		<i class="trash icon"></i>
		{{.i18n.Tr "settings.two_factor_disable_title"}}
	</div>
	<div class="content">
		<p>{{.i18n.Tr "settings.two_factor_disable_desc"}}</p>
	</div>
	<div class="actions">
		<div class="ui red basic inverted cancel button">
			<i class="remove icon"></i>
			{{.i18n.Tr "modal.no"}}
		</div>
		<div class="ui green basic inverted ok button">
			<i class="checkmark icon"></i>
			{{.i18n.Tr "modal.yes"}}
		</div>
	</div>
</div>

<div id="delete-webauthn-modal" class="ui small basic delete modal">
	<div class="ui icon header">
		<i class="trash icon"></i>
		{{.i18n.Tr "settings.two_factor_disable_title"}}
	</div>
	<div class="content">
		<p>{{.i18n.Tr "settings.two_factor_disable_desc"}}</p>
	</div>
	<form id="delete_webauthn_form">
	  {{.CSRFTokenHTML}}
          <input type="hidden" name="username" value="{{ .Username }}">
	  <div class="actions">
	    <div class="ui red basic inverted cancel button">
	      <i class="remove icon"></i>
	      {{.i18n.Tr "modal.no"}}
	    </div>

	    <div id="delete_webauthn_submit" class="ui green basic inverted ok button">
	      <i class="checkmark icon"></i>
	      {{.i18n.Tr "modal.yes"}}
	    </div>
	  </div>
        </form>
</div>

{{template "base/footer" .}}
